

/* estilos de Usuarios */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-container {
    display: flex;
    max-width: 900px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

.contact-info {
    background-color: #353535;
    color: #f7c02c;
    padding: 40px;
    width: 40%;
    position: relative;
    z-index: 1;
}

.contact-info h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.contact-info ul {
    list-style: none;
    margin-bottom: 30px;
}

.contact-info ul li {
    margin-bottom: 15px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    text-decoration: none;
    color: #f7c02c;
    margin-right: 15px;
    font-size: 18px;
}

.form-container {
    padding: 40px;
    width: 60%;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
}

.form-container h2 {
    color: #353535;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-container button {
    background-color: #f7c02c;
    color: #353535;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #353535;
    color: #f7c02c;
}

.form-container button:last-of-type {
    background-color: #cccccc;
    margin-left: 10px;
}

.form-container button:last-of-type:hover {
    background-color: #b3b3b3;
}



body::before, body::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50vw;
    z-index: 0;
}

body::before {
    background-color: #f7c02c;
    left: 0;
}

body::after {
    background-color: #353535;
    right: 0;
}

.user-icon {
    font-size: 50px;
    color: #353535;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    transition: color 0.3s ease;
}


.user-icon:hover {
    color: #f7c02c;
}

.social-icons a:hover {
    color: #f7c02c;
}
